<a href="https://colab.research.google.com/github/pedrogdiniz/Intensiv-o-de-Python-aula-1/blob/main/Projeto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd 
# importar base de dados
tabela_vendas = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Vendas.xlsx")

tabela_vendas.head()

   Código Venda       Data  ... Valor Unitário Valor Final
0             1 2019-01-01  ...            358         358
1             1 2019-01-01  ...            180         360
2             1 2019-01-01  ...            368         368
3             2 2019-01-02  ...            200         600
4             2 2019-01-02  ...             71          71

[5 rows x 7 columns]

In [11]:
# calcuclar faturamento

tabela_faturamento = tabela_vendas[["ID Loja","Valor Final"]].groupby("ID Loja").sum()
ranking_faturamento = tabela_faturamento.sort_values(by= "Valor Final", ascending=False)
display(ranking_faturamento)

                                  Valor Final
ID Loja
Iguatemi Campinas                     1762419
Shopping Vila Velha                   1731167
Bourbon Shopping SP                   1726110
Rio Mar Recife                        1722766
Shopping SP Market                    1721763
Palladium Shopping Curitiba           1721120
Norte Shopping                        1711968
Ribeirão Shopping                     1707122
Iguatemi Esplanada                    1699681
Rio Mar Shopping Fortaleza            1698430
Shopping Center Leste Aricanduva      1682870
Novo Shopping Ribeirão Preto          1678225
Shopping Iguatemi Fortaleza           1674824
Center Shopping Uberlândia            1668921
Shopping União de Osasco              1663770
Shopping Barra                        1653103
Passei das Águas Shopping             1649014
Shopping Eldorado                     1648111
Salvador Shopping                     1646739
Shopping Center Interlagos            1640486
Shopping Ibirapuera                   1635060
Parque Dom Pedro Shopping             1631630
Shopping Recife                       1624879
Shopping Midway Mall                  1590441
Shopping Morumbi                      1586444

In [12]:
# produtos vendidos por loja 
produtos_vendidos = tabela_vendas[["ID Loja","Quantidade"]].groupby("ID Loja").sum()

produtos_vendidos.head()

                            Quantidade
ID Loja
Bourbon Shopping SP               8863
Center Shopping Uberlândia        8627
Iguatemi Campinas                 8935
Iguatemi Esplanada                8580
Norte Shopping                    9014

In [20]:
# ticket medio por loja 
ticket_medio = (tabela_faturamento["Valor Final"] / produtos_vendidos["Quantidade"]).to_frame()
# arredondar valores 
ticket_medio = round(ticket_medio, 2)
# renomear colunas
ticket_medio= ticket_medio.rename(columns={0: "Ticket Médio"})
ticket_medio.head()

                            Ticket Médio
ID Loja
Bourbon Shopping SP               194.75
Center Shopping Uberlândia        193.45
Iguatemi Campinas                 197.25
Iguatemi Esplanada                198.10
Norte Shopping                    189.92

In [26]:
# Função enviar e-mail 
def enviar_email(nome_da_loja, tabela):
  import smtplib
  import email.message

  server = smtplib.SMTP('smtp.gmail.com:587')  
  corpo_email = f"""
  <p> Prezado, </p>
  <p> Segue relatório de vendas</p>
  {tabela.to_html()}
  <p> Obrigado </p>

  """
    
  msg = email.message.Message()
  msg['Subject'] = f"Relatório de Vendas - {nome_da_loja}"
    
  # Fazer antes (apenas na 1ª vez): Ativar Aplicativos não Seguros.
    # Gerenciar Conta Google -> Segurança -> Aplicativos não Seguros -> Habilitar
  # Caso mesmo assim dê o erro: smtplib.SMTPAuthenticationError: (534,
  # Você faz o login no seu e-mail e depois entra em: https://accounts.google.com/DisplayUnlockCaptcha
  msg['From'] = 'pd.teste.29@gmail.com'
  msg['To'] = 'pd.teste.29@gmail.com'
  password = "Pedro29!0"
  msg.add_header('Content-Type', 'text/html')
  msg.set_payload(corpo_email )
    
  s = smtplib.SMTP('smtp.gmail.com: 587')
  s.starttls()
  # Login Credentials for sending the mail
  s.login(msg['From'], password)
  s.sendmail(msg['From'], [msg['To']], msg.as_string().encode('utf-8'))
  print('Email enviado')

In [30]:
# criar tabela completa 
tabela_completa = tabela_faturamento.join(produtos_vendidos).join(ticket_medio)

In [31]:
# enviar e-mail para diretoria
enviar_email("Diretoria", tabela_completa)

Email enviado

In [34]:
# enviar e-mail para cada loja 
lista_lojas = tabela_vendas["ID Loja"].unique()

for loja in lista_lojas:
  tabela_loja = tabela_vendas.loc[tabela_vendas["ID Loja"] == loja, ["ID Loja", "Quantidade", "Valor Final"]]
  tabela_loja = tabela_loja.groupby("ID Loja").sum()
  tabela_loja["Ticket Médio"] = round(tabela_loja["Valor Final"] / tabela_loja["Quantidade"], 2)
  display(tabela_loja)

  enviar_email(loja, tabela_loja)

                    Quantidade  Valor Final  Ticket Médio
ID Loja
Iguatemi Esplanada        8580      1699681         198.1

Email enviado

                Quantidade  Valor Final  Ticket Médio
ID Loja
Norte Shopping        9014      1711968        189.92

Email enviado

                            Quantidade  Valor Final  Ticket Médio
ID Loja
Rio Mar Shopping Fortaleza        8937      1698430        190.04

Email enviado

                Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Barra        8638      1653103        191.38

Email enviado

                     Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Ibirapuera        8723      1635060        187.44

Email enviado

                   Quantidade  Valor Final  Ticket Médio
ID Loja
Iguatemi Campinas        8935      1762419        197.25

Email enviado

                                  Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Center Leste Aricanduva        8938      1682870        188.28

Email enviado

                           Quantidade  Valor Final  Ticket Médio
ID Loja
Passei das Águas Shopping        8618      1649014        191.35

Email enviado

                 Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Recife        8581      1624879        189.36

Email enviado

                      Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Midway Mall        8206      1590441        193.81

Email enviado

                     Quantidade  Valor Final  Ticket Médio
ID Loja
Bourbon Shopping SP        8863      1726110        194.75

Email enviado

                            Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Center Interlagos        8675      1640486        189.11

Email enviado

                           Quantidade  Valor Final  Ticket Médio
ID Loja
Parque Dom Pedro Shopping        8388      1631630        194.52

Email enviado

                            Quantidade  Valor Final  Ticket Médio
ID Loja
Center Shopping Uberlândia        8627      1668921        193.45

Email enviado

                          Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping União de Osasco        8730      1663770        190.58

Email enviado

                   Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Eldorado        8719      1648111        189.03

Email enviado

                     Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Vila Velha        9224      1731167        187.68

Email enviado

                              Quantidade  Valor Final  Ticket Médio
ID Loja
Novo Shopping Ribeirão Preto        8751      1678225        191.78

Email enviado

                Quantidade  Valor Final  Ticket Médio
ID Loja
Rio Mar Recife        8863      1722766        194.38

Email enviado

                             Quantidade  Valor Final  Ticket Médio
ID Loja
Palladium Shopping Curitiba        9091      1721120        189.32

Email enviado

                    Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping SP Market        8927      1721763        192.87

Email enviado

                   Quantidade  Valor Final  Ticket Médio
ID Loja
Ribeirão Shopping        8825      1707122        193.44

Email enviado

                             Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Iguatemi Fortaleza        8629      1674824        194.09

Email enviado

                  Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Morumbi        8508      1586444        186.46

Email enviado

                   Quantidade  Valor Final  Ticket Médio
ID Loja
Salvador Shopping        8698      1646739        189.32

Email enviado